.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  position: fixed;
  background: #f1f1dd;
  width: 40rem;
  top: 80px;
  right: 8rem;
  max-height: 55rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: black;
  padding: 1.6rem;
  font-size: 1.6rem;
}
.close-icon {
  background: none;
  outline: none;
  border: none;
  color: white;
}
.count {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 5px;
}
.modal-footer {
  padding: 10px;
  background: white;
}
.modal-btn {
  border: none;
  outline: none;
  background: rgba(168, 4, 73, 0.938);
  color: white;
  width: 100%;
  padding: 15px;
}
.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
}
.empty-cart-text1 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 700;
}
.empty-cart-text2 {
  font-weight: 500;
  font-size: 1.2rem;
}
.cart-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cproduct-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: white;
  margin: 10px 0;
}
.prouct-details {
  width: 100%;
}
.cproduct-image {
  margin-right: 10px;
  width: 8.6rem;
  height: 8.6rem;
}
.cproduct-name {
  font-size: medium;
  font-weight: bold;
}
.cqty {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 10px;
}
.cprice-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}
.cbtn {
  border: none;
  outline: none;
  background: rgba(168, 4, 73, 0.938);
  border-radius: 50%;
  padding: 4px 6px;
  color: white;
}
.btn-top-margin {
  margin-top: 10px;
}
.cheaper-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: white;
  margin: 10px;
}
@media (max-width: 59em) {
  .modal {
    background: #f1f1dd;
    top: 8rem;
  }
  .modal-main {
    width: 100%;
    right: 0;
    height: 100%;
    margin-top: 3.2rem;
    background: #f1f1dd;
  }
  .cart-header {
    background: #fff;
    color: black;
    font-weight: bold;
  }
  .close-icon {
    display: none;
  }
  .cproduct-container {
    padding: 1.6rem 0;
  }
  .cbtn {
    border-radius: 5px;
    padding: 4px 10px;
  }
}
