/* font sizes: 10/12/14/16/18/20/24/30/36/44/52 */
/* spacing system: 2/4/8/12/16/24/32/48/64/80/96 */
/* primary color: rgba(168, 4, 73, 0.938)
secondary color:#f1f1dd, text-color:color: rgb(138, 136, 136);
cyan-rgb(47, 201, 201)
*/
/* Common element styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  color: black;
}
a {
  text-decoration: none;
}
.container-padding {
  padding: 0 8rem;
}
/* -----------------login::begin---------- */
.login-container {
  display: flex;
  margin: 1.6rem 14rem;
  align-items: center;
  gap: 3.2rem;
}
.heading-container {
  display: flex;
  flex-direction: column;
}
.heading {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
}
.description {
  font-size: 1.2rem;
  font-weight: 500;
}
.login-form {
  width: 45rem;
  padding: 0 40px;
}
form .text_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.text_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.text_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(47, 201, 201);
  transition: 0.5s;
}
.text_field input:focus ~ label,
.text_field input:valid ~ label {
  top: -5px;
  color: rgb(47, 201, 201);
}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before {
  width: 100%;
}
.login-button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: rgba(168, 4, 73, 0.938);
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}
@media (max-width: 59em) {
  html {
    font-size: 56.25%;
  }
  .container-padding {
    padding: 0;
  }
  .login-container {
    flex-direction: column;
    justify-content: center;
    margin: 1.6rem 1.6rem;
  }
  .heading-container {
    text-align: center;
  }
  .login-form {
    margin: auto auto;
  }
}
