.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .carousel-container {
    margin: 2rem 0;
    overflow: hidden;
  }
  .categories-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px;
    padding: 20px;
    /* border-top: 3px solid #f1f1dd; */
    box-shadow: 0 -5px 5px -5px #999;
  }
  .categories-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .category-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-description > h3 {
    font-size: 1.6rem;
  }
  .category-description > span {
    margin: 2rem 0;
    font-size: 1.4rem;
  }
  .category-product-image {
    width: 250px;
    height: 200px;
  }
  .category-button {
    color: white;
    background: rgba(168, 4, 73, 0.938);
    outline: none;
    border: none;
    padding: 10px;
  }
  @media (max-width: 992px) {
    .carousel-image {
      width: 60rem;
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    .carousel-image {
      width: 40rem;
      height: 100%;
    }
    .category-product-image {
      width: 20rem;
    }
    .category-description > span {
      font-size: 1.2rem;
    }
  }
  